<html>

<head>
    <title>Cambio SNPM dispositivo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="#" class="logo aNav">Sistema Gestion Topologia</a>
            <ul class="ulNav">
               <li>
                    <a class="aNav" href="{{url_for('control_usuario_pagina')}}">Control usuarios</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('usuarios_sistema_pagina')}}">Usuario sistema</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('control_snpm_pagina')}}">Control SNMP</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('ver_paquetes')}}">Monitoreo Paquetes</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('ver_bitacora')}}">Bitacora</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('ver_grafica')}}">Grafica</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('control_protocolos')}}">Protocolos</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('configuracion_admi_pagina')}}">Configuración Administrador</a>
                </li>
               <li>
                    <a class="aNav" href="{{url_for('salir_sesion')}}">Salir sesion</a>
                </li>
               
            </ul>
        </nav>
    </div>
    <div>
        <form method="post" action="/guardar_datos_SNPM_Dispositivo/{{ipDestino}}">
            <div><input type="text" value="{{regresoNombreHost}}"  placeholder="Nombre del host" name="nombreHost"></div>
            <div><input type="text" value="{{regresoLocalizacion}}"  placeholder="Ubicacion" name="ubicacion"></div>
           <div><input type="text" value="{{regresoContacto}}"  placeholder="Contacto" name="contacto"></div>
            <button type="submit">Guardar cambios</button>
        </form>
    </div>

</body>

</html>
