<html>

<head>
    <title>Control Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='protocolos.css')}}">
</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="#" class="logo aNav">Sistema Gestion Topologia</a>
            <ul class="ulNav">
                <li>
                    <a class="aNav" href="{{url_for('control_usuario_pagina')}}">Control usuarios</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('usuarios_sistema_pagina')}}">Usuario sistema</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('control_snpm_pagina')}}">Control SNMP</a>
                </li>
                <li>
                    <a class="aNav" href="#">Monitoreo Paquetes</a>
                </li>
                <li>
                    <a class="aNav" href="#">Bitacora</a>
                </li>
                <li>
                    <a class="aNav" href="#">Grafica</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('control_protocolos')}}">Protocolos</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('configuracion_admi_pagina')}}">Configuración Administrador</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="contenedorGeneralProtocolos">
        <div id="protocoloRIP" class="contendorProtocolos">
            <h1>Protocolo RIP</h1>
            <form action="/nueva_ruta_rip" method="post">
                <h2>Ingresar nueva direccion</h2>
                   <input type="text" name="rutaIP"  placeholder="Nueva direcci>
                   <button type="submit">Ingresar</button>
            </form>
        </div>
        <div id="protocoloOSPF" class="contendorProtocolos">
            <h1>Protocolo OSPF</h1>
            <form action="/nueva_ruta_ospf" method="post">
             <h2>Ingresar nueva direccion</h2>
                <a>Process ID</a>
                <input type="text"name="processID"  placeholder="process ID">
                <a>Direccion de red</a>
                <input type="text"name="direccionRed"  placeholder="direccion de Red">
               <a>Wildcard</a>
                <input type="text"name="wildcard"  placeholder="wildcard">
               <a>Area ID</a>
                <input type="text"name="areaID"  placeholder="Area ID">
                  <button type="submit">Ingresar</button>

            </form>
        </div>
        <div id="protocoloIGRP" class="contendorProtocolos">
            <h1>Protocolo IGRP</h1>
           <form action="/nueva_ruta_eigrp" method="post">
            <h2>Ingresar nueva direccion</h2>
              <a>Numero sistema autonomo</a>
              <input type="text"name="autNum"  placeholder="numero sistem autonomo">
              <a>Direccion de red</a>
                <input type="text"name="direccionRed"  placeholder="direccion de Red">
              <a>Wildcard</a>
                <input type="text"name="wildcard"  placeholder="wildcard">
             <button type="submit">Ingresar</button>
           </form>
        </div>


    </div>

</body>

</html>
