<html>

<head>
    <title>Control Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="#" class="logo aNav">Sistema Gestion Topologia</a>
            <ul class="ulNav">
                <li>
                    <a class="aNav" href="{{url_for('control_usuario_pagina')}}">Control usuarios</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('usuarios_sistema_pagina')}}">Usuario sistema</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('control_snpm_pagina')}}">Control SNMP</a>
                </li>
                <li>
                    <a class="aNav" href="#">Monitoreo Paquetes</a>
                </li>
                <li>
                    <a class="aNav" href="#">Bitacora</a>
                </li>
                <li>
                    <a class="aNav" href="#">Grafica</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('control_protocolos')}}">Protocolos</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('configuracion_admi_pagina')}}">Configuración Administrador</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <form method="post" action="/guardar_cambios_configuracion_administrador">
            <div><input type="text" name="nombre" placeholder="nombre" value={{nombreUsuario}}></div>
            <div><input type="text" name="correo" placeholder="correo" value={{correoUsuario}}></div>
            <div><input type="text" name="contra" placeholder="Contraseña"></div>
            <button type="submit">Guardar cambios</button>
        </form>
    </div>

</body>

</html>