<html>

<head>
    <title>Control Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="#" class="logo aNav">Sistema Gestion Topologia</a>
            <ul class="ulNav">
                <li>
                    <a class="aNav" href="{{url_for('control_usuario_pagina')}}">Control usuarios</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('usuarios_sistema_pagina')}}">Usuario sistema</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('control_snpm_pagina')}}">Control SNMP</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('ver_paquetes')}}">Monitoreo Paquetes</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('ver_bitacora')}}">Bitacora</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('ver_grafica')}}">Grafica</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('control_protocolos')}}">Protocolos</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('configuracion_admi_pagina')}}">Configuración Administrador</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('salir_sesion')}}">Salir sesion</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <a href="{{url_for('nuevo_usuario_topologia')}}"><button>Nuevo usuario en la topologia</button></a>
        <ul >  
            {% for usuario in usuarios%}
             <li>
              <div>Usuario nombre:{{usuario.1}} Contra:{{usuario.2}} Nivel:{{usuario.3}}
                <a href="/cambiar_usuario_topologia/{{usuario.0}}"><button>Cambiar</button></a>
                <a href="/eliminar_usuario_topologia/{{usuario.0}}"><button>Eliminar</button></a>
               </div>
             </li>

            
       
           {% endfor %}
 </ul>
    </div>

</body>

</html>
