<html>

<head>
    <title>Ping Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="#" class="logo aNav">Sistema Gestion Topologia</a>
            <ul class="ulNav">
                <li>
                    <a class="aNav" href="#">Ping</a>
                </li>
                <li>
                    <a class="aNav" href="#">Info sistema</a>
                </li>
                <li>
                    <a class="aNav" href="#">Grafica</a>
                </li>
                <li>
                    <a class="aNav" href="#">Configuracion</a>
                </li>
                
            </ul>
        </nav>
        
    </div>

</body>

</html>