<html>

<head>
    <title>Ping Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="#" class="logo aNav">Sistema Gestion Topologia</a>
            <ul class="ulNav">
                <li>
                    <a class="aNav" href="{{url_for('ping_Usuario')}}">Ping</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('tracert_Usuario')}}">Tracert</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('ver_graficaNormal')}}">Grafica</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('configuracion_usuario_pagina')}}">Configuracion</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('salir_sesion')}}">Salir sesion</a>
                </li>
                
            </ul>
        </nav>
        
    </div>
  <div>
       <form id="formEntrada" name="formEntrada">
          <input type="text" placeholder="direccion ping" id="pingDireccion" name="pingDireccion">
         <a><button>Enviar</button></a>
       </form>
        <div>
            <textarea name="ping" id="ping">
             Resultado del ping
            </textarea>
        </div>


</div>
<script src="{{url_for('static',filename='jquery.js')}}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $("#formEntrada").on("submit",function(e){
     $.ajax({
       type:"POST",
        url:"/ping_resultado",
        data:$("#formEntrada").serialize(),
        success:function(response){
           dato=response.resultado;
           $("#ping").val(dato); 
         }

      });

  });


})
</script>
</body>

</html>
