<html>

<head>
    <title>tracert  Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="#" class="logo aNav">Sistema Gestion Topologia</a>
            <ul class="ulNav">
                <li>
                    <a class="aNav" href="{{url_for('ping_Usuario')}}">Ping</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('tracert_Usuario')}}">Tracert</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('ver_graficaNormal')}}">Grafica</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('configuracion_usuario_pagina')}}">Configuracion</a>
                </li>
                <li>
                    <a class="aNav" href="{{url_for('salir_sesion')}}">Salir sesion</a>
                </li>

            </ul>

        </nav>
        
    </div>
  <div>
       <form>
          <input type="text" placeholder="direccion tracert" name="tracertDireccion">
         <a><button>Enviar</button></a>
       </form>
        <div>
            <textarea>
             Resultado del tracert
            </textarea>
        </div>


</div>

</body>

</html>
